In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [89]:
df=pd.read_csv('crop_production.csv')

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [91]:
print("null values in df1",df.isnull().sum())

null values in df1 State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

#### df has null values , so replacing them with mean

In [92]:
df.fillna(df["Production"].mean(),inplace=True)

### find which crop is best in specific state using bar graph

#### craete a group to find maximum produce crop in every state #### craete a group to find maximum produce crop in every state

In [93]:
grp=(df.groupby('State_Name').agg({'Production':'max'}))
grp=grp.reset_index()

#### show which crop is mostly produce in state wise and also show production of every crop respectively

In [94]:
print("Most pruduce crop in state wise with production\n")
crop1=pd.DataFrame(columns=['State_Name','Most_produce_crop','Production'])
crop=pd.DataFrame()
for i in grp.State_Name:
    ind=(np.where(grp.State_Name==i)[0])[0]
    crop=df[(df.State_Name==grp.State_Name[ind]) & (df.Production==grp.Production[ind]) ]
    crop=crop.drop(['District_Name','Crop_Year','Season','Area'],axis=1)
    crop.columns=['State_Name','Most_produce_crop','Production']
    crop1=pd.concat([crop1,crop],axis=0)
crop1

Most pruduce crop in state wise with production

                         State_Name Most_produce_crop    Production
77      Andaman and Nicobar Islands          Coconut   7.130000e+07
2543                 Andhra Pradesh          Coconut   7.801620e+08
11285             Arunachal Pradesh          Turmeric  5.825034e+05
23827                         Assam          Coconut   6.071900e+07
39340                         Bihar         Sugarcane  9.614539e+06
...                             ...               ...           ...
192700                   Telangana           Coconut   1.193314e+07
198203                      Tripura              Rice  2.825780e+05
218796                Uttar Pradesh         Sugarcane  1.775796e+07
233684                  Uttarakhand         Sugarcane  4.630801e+06
236732                  West Bengal          Coconut   7.509500e+07

[74 rows x 3 columns]

In [95]:
crop1.reset_index(drop=True, inplace=True)

In [96]:
crop1

                     State_Name Most_produce_crop    Production
0   Andaman and Nicobar Islands          Coconut   7.130000e+07
1                Andhra Pradesh          Coconut   7.801620e+08
2             Arunachal Pradesh          Turmeric  5.825034e+05
3                         Assam          Coconut   6.071900e+07
4                         Bihar         Sugarcane  9.614539e+06
..                          ...               ...           ...
69                   Telangana           Coconut   1.193314e+07
70                      Tripura              Rice  2.825780e+05
71                Uttar Pradesh         Sugarcane  1.775796e+07
72                  Uttarakhand         Sugarcane  4.630801e+06
73                  West Bengal          Coconut   7.509500e+07

[74 rows x 3 columns]

In [97]:
crop3=crop1
for i in range(0,74):
    crop=df[(df.State_Name==crop1.State_Name[i]) & (df.Crop==crop1.Most_produce_crop[i])]
    crop2=crop.drop(["District_Name","Crop_Year","Season","Area"],axis=1)
    crop2.columns=["State_Name","Most_produce_crop","Production"]
    crop3=pd.concat([crop3,crop2])

In [98]:
crop3.reset_index(drop=True, inplace=True)

In [99]:
crop4=crop3.copy()

In [100]:
crop3

                        State_Name Most_produce_crop    Production
0      Andaman and Nicobar Islands          Coconut   7.130000e+07
1                   Andhra Pradesh          Coconut   7.801620e+08
2                Arunachal Pradesh          Turmeric  5.825034e+05
3                            Assam          Coconut   6.071900e+07
4                            Bihar         Sugarcane  9.614539e+06
...                            ...               ...           ...
11403                  West Bengal          Coconut   2.961000e+02
11404                  West Bengal          Coconut   3.110000e+02
11405                  West Bengal          Coconut   3.650000e+05
11406                  West Bengal          Coconut   8.980000e+05
11407                  West Bengal          Coconut   5.980000e+02

[11408 rows x 3 columns]

In [101]:
crop3.State_Name.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [102]:
crop3.Most_produce_crop.unique()

array(['Coconut ', 'Turmeric', 'Sugarcane', 'Arhar/Tur', 'Small millets',
       'Other  Rabi pulses', 'Sweet potato', 'Cotton(lint)',
       'Moong(Green Gram)', 'Peas & beans (Pulses)', 'Dry ginger',
       'Coriander', 'Dry chillies', 'Sannhamp', 'Gram', 'Masoor',
       'Horse-gram', 'Sesamum', 'Moth', 'Linseed', 'other oilseeds',
       'Rice', 'Potato', 'Wheat', 'Maize'], dtype=object)

In [103]:
state=['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

crop=['Coconut ', 'Turmeric', 'Sugarcane', 'Arhar/Tur', 'Small millets',
       'Other  Rabi pulses', 'Sweet potato', 'Cotton(lint)',
       'Moong(Green Gram)', 'Peas & beans (Pulses)', 'Dry ginger',
       'Coriander', 'Dry chillies', 'Sannhamp', 'Gram', 'Masoor',
       'Horse-gram', 'Sesamum', 'Moth', 'Linseed', 'other oilseeds',
       'Rice', 'Potato', 'Wheat', 'Maize']

In [104]:
for i in range(0,len(state)):
    crop3.replace(state[i],i,inplace=True)

for i in range(0,len(crop)):
    crop3.replace(crop[i],i,inplace=True)

In [55]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [70]:
crop3['Most_produce_crop'] = le.fit_transform(crop3['Most_produce_crop'])
crop3['State_Name'] = le.fit_transform(crop3['State_Name'])
crop3

       State_Name  Most_produce_crop    Production
0               0                  1  7.130000e+07
1               1                  1  7.801620e+08
2               2                 22  5.825034e+05
3               3                  1  6.071900e+07
4               4                 20  9.614539e+06
...           ...                ...           ...
11403          32                  1  2.961000e+02
11404          32                  1  3.110000e+02
11405          32                  1  3.650000e+05
11406          32                  1  8.980000e+05
11407          32                  1  5.980000e+02

[11408 rows x 3 columns]

In [106]:
x = crop3[['State_Name']]
y = crop3["Most_produce_crop"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.0001, random_state=42)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (11406, 1)
x_test : (2, 1)
y_train : (11406,)
y_test : (2,)

In [107]:
model = RandomForestRegressor()

In [108]:
model.fit(x,y)

RandomForestRegressor()

In [119]:
preds = model.predict(x)

In [120]:
from sklearn.metrics import r2_score
r = r2_score(y,(preds))
print("R2score when we predict using Randomn forest is ",r*100)

R2score when we predict using Randomn forest is  92.62560710208302

### create pkl file to deploy model

In [121]:
import pickle as pkl

In [122]:
RF_pkl_filename = 'state.pkl'
RF_Model_pkl = open(RF_pkl_filename, 'wb')
pkl.dump(model, RF_Model_pkl)
RF_Model_pkl.close()